.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: #2196F3;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.selected {
  background-color: red;
}